<%= image_tag "Ellipse 1.png", class: "absolute top-0 left-0 w-1/2" %>
<%# Stars %>
<div class="overflow-hidden">
  <div class="absolute w-6 left-[32%] top-[10%]">
    <%= image_tag "pink star.png"%>
  </div>
  <div class="absolute w-3 top-[8%] left-[70%]">
    <%= image_tag "cyan star.png"%>
  </div>
  <div class="absolute w-2 top-[20%] left-[10%]">
    <%= image_tag "white star.png"%>
  </div>
  <div class="absolute w-2 top-[30%] left-[20%]">
    <%= image_tag "pink star.png"%>
  </div>
  <div class="absolute w-3 top-[45%] left-[60%]">
    <%= image_tag "cyan star.png"%>
  </div>
  <div class="absolute w-4 top-[55%] left-[70%]">
    <%= image_tag "cyan star.png"%>
  </div>
  <div class="absolute w-4 top-[60%] left-[20%]">
    <%= image_tag "white star.png"%>
  </div>
  <div class="absolute w-5 top-[80%] left-[90%]">
    <%= image_tag "pink star.png"%>
  </div>
  <div class="absolute w-2 top-[90%] left-[14%]">
    <%= image_tag "cyan star.png"%>
  </div>
  <%# In Case of Overflow Hide this Block %>
  <div class="absolute w-4 top-[120%] left-[45%]">
    <%= image_tag "white star.png"%>
  </div>
  <div class="absolute w-3 top-[150%] left-[80%]">
    <%= image_tag "pink star.png"%>
  </div>
  <div class="absolute w-4 top-[135%] left-[30%]">
    <%= image_tag "pink star.png"%>
  </div>
  <div class="absolute w-4 top-[160%] left-[15%]">
    <%= image_tag "cyan star.png"%>
  </div>
  <div class="absolute w-2 top-[170%] left-[20%]">
    <%= image_tag "white star.png"%>
  </div>
  <div class="absolute w-4 top-[180%] left-[50%]">
    <%= image_tag "white star.png"%>
  </div>
  <div class="absolute w-3 top-[200%] left-[10%]">
    <%= image_tag "white star.png"%>
  </div>
  <div class="absolute w-5 top-[195%] left-[90%]">
    <%= image_tag "cyan star.png"%>
  </div>
  <div class="absolute w-4 top-[220%] left-[25%]">
    <%= image_tag "cyan star.png"%>
  </div>
  <div class="absolute w-2 top-[230%] left-[18%]">
    <%= image_tag "pink star.png"%>
  </div>
  <div class="absolute w-2 top-[240%] left-[88%]">
    <%= image_tag "pink star.png"%>
  </div>
  <div class="absolute w-4 top-[248%] left-[78%]">
    <%= image_tag "pink star.png"%>
  </div>
  <div class="absolute w-5 top-[250%] left-[10%]">
    <%= image_tag "white star.png"%>
  </div>
  <%# In Case of Overflow Hide this Block %>
  <%# Rectangle %>
  <div class="absolute w-[6%] top-[10%] left-[48%]">
    <%= image_tag "circ 1.png"%>
  </div>
  <div class="absolute w-[15%] top-[40%] left-[8%]">
    <%= image_tag "rec 3.png"%>
  </div>
  <div class="absolute w-[9%] top-[55%] left-[90%]">
    <%= image_tag "rec 1.png"%>
  </div>
  <div class="absolute w-[7%] top-[80%] left-[10%]">
    <%= image_tag "rec 2.png"%>
  </div>
  <div class="absolute w-[7%] top-[95%] left-[40%]">
    <%= image_tag "circ 1.png"%>
  </div>
  <%# In Case of Overflow Hide this Block %>
  <div class="absolute w-[20%] top-[135%] left-[60%]">
    <%= image_tag "rec 3.png"%>
  </div>
  <div class="absolute w-[5%] top-[150%] left-[5%]">
    <%= image_tag "rec 1.png"%>
  </div>
  <div class="absolute w-[10%] top-[180%] left-[85%]">
    <%= image_tag "rec 1.png"%>
  </div>
  <div class="absolute w-[20%] top-[200%] left-[10%]">
    <%= image_tag "rec 3.png"%>
  </div>
  <div class="absolute w-[15%] top-[250%] left-[10%]">
    <%= image_tag "circ 1.png"%>
  </div>
  <%# In Case of Overflow Hide this Block %>
</div>
