<div class="flex flex-col md:flex-row justify-between outline outline-1 px-5 py-4 rounded-3xl">
  <div class="image_and_details flex gap-4">
    <div class="container rounded-3xl outline outline-1 outline-neutral-700 grid place-items-center
         w-[10rem] sm:w-[15rem] md:w-[17rem] lg:w-[20rem]">
      <%= image_tag nft.image, class: "w-full object-cover min-h-0 max-h-[10rem] sm:max-h-[15rem] lg:max-h-[17rem] rounded-3xl" %>
    </div>
    <div class="nft-deatils flex flex-col justify-between space-y-1.5 py-2">
      <div class = "space-y-2">
        <div class="name text-xl sm:text-4xl font-bold text-clip">
          <%= nft.name %>
        </div>
      </div>
      <div class = "space-y-2">
        <div class="Current Owner text-sm font-medium text-grey2">Owned By:</div>
        <div class="text-sm font-semibold truncate overflow-hidden"> <%= nft.owner %> </div>
      </div>
    </div>
  </div>
  <%# For Tablet %>
  <div class="hidden md:flex price_and_delete flex-col items-end justify-between">
    <%= button_to cart_remove_path, method: :post,params: {id:order.id}, class: "btn-outline w-fit" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
      </svg>
    <% end %>
    <div class="self-end sm:text-xl md:text-3xl lg:text-4xl font-bold">
      Price:   <%= nft.price %> ETH
    </div>
  </div>
  <%# For Phone %>
  <div class="mt-5 md:hidden price_and_delete flex justify-between">
    <%= button_to cart_remove_path, method: :post,params: {id:order.id}, class: "btn-outline w-fit" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-6 sm:h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
      </svg>
    <% end %>
    <div class="self-end text-xl sm:text-2xl font-bold">
      Price:   <%= nft.price %> ETH
    </div>
  </div>
</div>
