<%= form_with(model: [@wallet,nft], html: { multipart: true }, data: {controller: "spinner", action: "submit->spinner#show"} )do |form| %>
  <div class="flex flex-col items-center text-[0.7rem] sm:text-xs font-medium lg:text-sm space-y-4 ">
    <% if nft.errors.any? %>
      <div class = "bg-red-600 w-full outline outline-1 outline-white py-3 rounded-3xl text-center">
        <ul class= "space-y-1">
          <% nft.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field flex items-center px-4 py-2 rounded-3xl space-x-2 outline outline-1 hover:outline-[#DF3C6C]">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-6 sm:h-6 stroke-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
      </svg>
      <%= form.text_field :name, autofocus: true, autocomplete: :off, placeholder: "NFT Name", class:"bg-transparent w-full focus:ring-0 border-0 focus:outline-none sm:text-xs font-medium lg:text-sm " %>
    </div>
    <div class="field flex items-center px-4 py-2 rounded-3xl space-x-2 outline outline-1 hover:outline-[#DF3C6C]">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-6 sm:h-6 stroke-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <%= form.text_field :price, autofocus: true, autocomplete: :off, placeholder: "0", class:"bg-transparent w-full focus:ring-0 border-0 focus:outline-none sm:text-xs font-medium lg:text-sm  " %>
    </div>
    <div class="field flex items-center px-4 py-2 rounded-3xl space-x-2 outline outline-1 hover:outline-[#DF3C6C]">
      <%= form.file_field :image, accept: ".jpg, .jpeg, .png", class: "bg-transparent w-full focus:ring-0 border-0 focus:outline-none sm:text-xs font-medium lg:text-sm  " %>
    </div>
    <div id = "submit-btn" class="submit-btn text-base sm:text-2xl text-white">
      <%= form.submit "Create NFT", class: "btn bg-[#DF3C6C] px-5 py-2" %>
    </div>
    <div id = "spinner" class="spinner hidden flex gap-2 items-center text-base sm:text-2xl text-white btn bg-[#DF3C6C] px-5 py-2 opacity-80">
      <div class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]" role="status">
        <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">
          Loading...
        </span>
      </div>
      Creating NFT...
    </div>
  </div>
<% end %>
