<div id="nftshow" data-metrics="<%= @nft.to_json %>">  <%# Ignore this line for now %>
  <div class="flex justify-center">
    <div class="w-[85%] max-w-[90%] space-y-4 md:grid grid-cols-3 md:gap-12">  <%# Max Width of the contents %>
      <div class="col-span-2">
        <div class="outline outline-1 outline-grey2 rounded-xl">
          <%= image_tag nft.image, class: "rounded-xl w-full object-contain min-h-0 md:max-h-[35rem]" %>
        </div>
      </div>
      <div class="Deatils space-y-4">
        <div class="nft-deatils space-y-1.5">
          <div class="name text-3xl sm:text-4xl font-bold">
            <%= nft.name %>
          </div>
          <div class="minted text-sm font-medium text-grey2">Minted on <%= nft.created_at %></div>
          <div class="Current Owner text-sm font-medium text-grey2">Owned By: </div>
          <% temp_user=User.find_by(username: nft.owner) %>
          <% owner_wallet=temp_user.wallet %>
          <%= link_to nft.owner, user_profile_path(@wallet.user_id),class:"text-sm font-semibold truncate overflow-hidden"%>
        </div>
        <div class="buy-details px-5 space-y-2 outline outline-1 outline-grey2 p-3 rounded-2xl">
          <div class="price text-sm font-medium text-grey2">Current Price:</div>
          <%= turbo_frame_tag "price" do %>
            <div class="text-3xl font-bold"><%= nft.price %> ETH</div>
          <% end %>
          <div class="grid gap-3">
            <% if current_user.id!= @wallet.user_id %>
              <%# Buy form %>
              <%= form_with(url: buy_nft_path) do |f| %>
                <%= f.hidden_field :id, value: @nft.id %>
                <%= f.submit "Buy Now", class: "btn bg-[#DF3C6C] text-2xl sm:text-2xl md:text-xl w-full text-center py-3 drop-shadow-[0_7px_50px_rgba(255,255,255,0.3)]" %>
              <% end %>
              <%# Cart add form %>
              <%= form_with(url: cart_add_path) do |f| %>
                <%= f.hidden_field :id, value: @nft.id %>
                <%= f.submit "Add to Cart", class:"btn-outline text-2xl sm:text-2xl md:text-xl w-full text-center py-3" %>
              <% end %>
            <% else %>
              <%# edit price form %>
              <%= form_with(url: wallet_nft_path(@wallet,@nft),method: :patch,data:{ turbo_frame: "price"} ) do |f| %>
                <div class="grid  gap-4">
                  <%= f.number_field :price, placeholder:"Price", min: 1, max:100, step: 0.01, required: true, class:"text-lg w-full bg-transparent px-5 py-3 rounded-3xl space-x-2 outline outline-1 focus:ring-0 focus:border-0 focus:outline-[#DF3C6C] hover:outline-[#DF3C6C]"%>
                  <%= f.submit "Edit Price", class:"btn text-2xl sm:text-2xl md:text-xl w-full text-center py-3 drop-shadow-[0_7px_50px_rgba(255,255,255,0.3)]
                    bg-[#DF3C6C] font-semibold rounded-full cursor-pointer duration-200 transition-all" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
