<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="flex flex-col items-center text-[0.7rem] sm:text-xs font-medium lg:text-sm text-white space-y-4">
    <%= render "devise/shared/error_messages", resource: resource %>
    <%# Email %>
    <div class="field flex items-center px-4 py-2 rounded-3xl space-x-2 outline outline-1 hover:outline-[#DF3C6C]">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-6 sm:h-6 stroke-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
      </svg>
      <%= f.email_field :email, autofocus: true, autocomplete: :off, placeholder: "Email Address", class:"bg-transparent w-full focus:outline-none focus:ring-0 border-0"  %>
    </div>
    <%# Password %>
    <div class="field flex items-center px-4 py-2 rounded-3xl space-x-2 outline outline-1 hover:outline-[#DF3C6C]">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-6 sm:h-6 stroke-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
      </svg>
      <%= f.password_field :password, autocomplete: "new-password",  placeholder: "Password", class:"bg-transparent w-full focus:outline-none focus:ring-0 border-0"   %></div>
    <div class="field flex items-center px-4 py-2 rounded-3xl space-x-2 outline outline-1 hover:outline-[#DF3C6C]">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 stroke-white sm:w-6 sm:h-6 ">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
      </svg>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class:"bg-transparent w-full focus:outline-none focus:ring-0 border-0" %>
    </div>
    <div class="field flex items-center space-x-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <div class="actions text-base sm:text-2xl text-white ">
      <%= f.submit "Login", class: "bg-[#DF3C6C] w-fit font-semibold px-5 py-2 rounded-full cursor-pointer duration-200 transition-all mt-3" %>
    </div>
  </div>
<% end %>
