
<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :Buyer %>
    <%= f.input :Seller %>
    <%= f.input :Buy_price %>
    <%= f.input :Change_in_price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
